

<tr class="article_<%=article.id%>">
  <td class="title">
    <%= article.title%>
  </td>
  <td class="author">
    <%= article.author%>
  </td>
  <td>
    <%= link_to "Show", article_path(article)%>
  </td>
</tr>