
<div class="container">
  <div class="title">
    Title:
    <%= @article.title%>
  </div>
  <div class="author">
    Author:
    <%= @article.author%>
  </div>

  <div class="content">

    <%= @article.content%>
  </div>
</div>