
<div class="row keyword" data="<%=keyword.id%>">

  <div class="col-md-9">
    <%= keyword.title%>
  </div>
  <div class="col-md-3">
    <%= link_to "Delete", keyword_path(keyword), method: :delete, class: "btn btn-danger"%>
  </div>
</div>
